*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.content__card-link:focus:focus-visible{
  outline: 2px solid rgba(255,255,255, 0.2);
  outline-offset: 3px;
}

.visually-hidden{
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content{
  display: flex;
  width: 1140px;
  height: 534px;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}

.result__video{
  width: 711px;
  height: 386px;
}

video{
  object-fit:fill;
}

.result{
  margin-top: 78px;
  width: 711px;
  gap: 16px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.content__details{
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.result__video-container{
  position: relative;
  inline-size: 711px;
  min-block-size: 360px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #000;
}

.result-video{
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  display: block;
}

.search-form{
  width: 711px;
  height: 54px;
  display:flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  /* gap: 24px; */
}

.search-form__fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.search-form__fieldset-title{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: 400;
  line-height: 1.1;
}

.search-form__label{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inline-size: fit-content;
  cursor: pointer;
  user-select: none;
}

.search-form__label-text{
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  transition: text-decoration 120ms;
}

.search-form__label:hover .search-form__label-text,
.search-form__label:focus-within .search-form__label-text{
  text-decoration: underline;
}

.search-form__textfield{
  min-inline-size: 225px;
  padding: 6px 4px;
  border: none;
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
  background: transparent;
  background-color: transparent;
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.1;
  appearance: none;
}

.search-form__textfield::placeholder{
  color: rgba(255,255,255, 0.65);
  background-color: transparent;
}

.search-form__label:has(:focus-visible){
  outline: 2px solid rgba(255,255,255,0.2);
  outline-offset: 2px;
  border-radius: 2px;
}

.search-form__checkbox-list{
  display: flex;
  gap: 12px;
  align-items: center;
}

.search-form__checkbox{
  appearance: none;
}

.search-form__pseudo-checkbox{
  display: inline-grid;
  place-items: center;
  inline-size: 20px;
  block-size: 20px;
  border: 1px solid #fff;
  background: transparent;
  flex: 0 0 auto;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  content: "";
  inline-size: 16px;
  block-size: 16px;
  background: #fff;
  display: block;
  box-sizing: border-box;
}

.search-form__label:has(.search-form__checkbox:focus-visible){
  outline: 2px solid rgba(255,255,255, 0.2);
  outline-offset: 2px;
  border-radius: 2px;
}

.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  height: 34px;
}

.button:hover{
  text-decoration: underline;
}

.button:focus{
  outline: none;
}

.button:focus-visible{
  outline: 2px solid rgba(255,255,255, 0.25);
  outline-offset: 2px;
}

.button:active{
  background-color: #545050;
}

.search-form__submit-button{
  width: 194px;
  height: 34px;
  padding-block: 6px;
  align-self: flex-end;
}

.more-button{
  display: flex;
  width: 390px;
  height: 34px;
  gap: 10px;
  border-width: 1px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.title{
  width: 259px;
  height: 210px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 0.95;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__list{
  width: 390px;
  display: flex;
  flex-direction: column;
  padding-inline: 0;
  margin: 0;
}

.content__list-item{
  display: flex;
  gap: 30px;
  width: 390px;
  height: 103px;
}

.content__video-card{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.content__video-card-description{
  margin-top: 6px;
  font-size: 15px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.content__video-card-description-container{
  flex: 1 1 auto;
  min-inline-size: 0;
  overflow: hidden;
}

.content__video-card-title{
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-thumbnail{
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
  flex: 0 0 auto;
  border-radius: 2px;
}

.content__card-link{
  display: block;
  color: #fff;
  text-decoration: none;
  /* padding: 8px; */
  border-radius: 2px;
  transition: background-color 140ms;
}

.content__card-link:hover{
  text-decoration: underline;
}

.content__card-link:focus :focus-visible{
  outline: 2px solid rgba(255,255,255, 0.2);
  outline-offset: 3px;
}

.content__card-link_current{
  background-color: #545050;
}

.content__card-link:active{
  background-color: #545050;
}

.content__list-container{
  position: relative;
  width: 399px;
  height: 298px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
